<p><%= appointment[:name] %>, thanks for booking your <em><%= appointment[:treatment] %></em> appointment!</p>
<p>You are scheduled for <%= appointment[:appointment_dt] %> and will receive a courtesy reminder on <%= appointment[:number] %> at <%= appointment[:reminder_dt] %>.</p>
